<ion-header>
  <ion-navbar>
    <ion-title>AddWatcherAccount</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input [(ngModel)]="publicKey" placeholder="Ethereum Public Address" type="text"></ion-input>
      <ion-input [(ngModel)]="accountName" placeholder="Account Name" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="addPublicKey()" [disabled]="!accountName || !publicKey">Add Public Address
    <ion-spinner *ngIf="buttonSpinner"></ion-spinner>
  </button>
  <p class="error-message" *ngIf="badAddress">Invalid Ethereum address.</p>
</ion-content>
