<ion-header>

  <ion-navbar>
    <ion-title>TokenOverview</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <ion-refresher (ionRefresh)="refreshAccounts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines *ngIf="ethAccount">

    <ion-item-sliding  *ngFor="let token of ethAccount.addressInfo.tokens" >

      <ion-item class="account">
        <p *ngIf="token.tokenInfo.name"><strong>{{token.tokenInfo.name}}</strong></p>
        <p *ngIf="token.balance" >Balance: {{token.balance}}</p>

      </ion-item>
    </ion-item-sliding>

  </ion-list>

</ion-content>
